In [1]:
import pandas as pd

In [2]:
cars = ["bmw","tesla","prade","benz"]
color = ["green","orange","blue","red"]

In [4]:
car_series = pd.Series(cars)
car_series

0      bmw
1    tesla
2    prade
3     benz
dtype: object

In [11]:
color_series = pd.Series(color,index =[1,3,3,7])
color_series

1     green
3    orange
3      blue
7       red
dtype: object

In [12]:
color_series.loc[3]

3    orange
3      blue
dtype: object

In [13]:
color_series.iloc[3]

'red'

In [21]:
df = pd.DataFrame({"Car Name":cars,"Color":color})
df

  Car Name   Color
0      bmw   green
1    tesla  orange
2    prade    blue
3     benz     red

In [22]:
df.to_csv("My_cars.csv",index = False)

In [23]:
my_car = pd.read_csv("My_cars.csv")
my_car

  Car Name   Color
0      bmw   green
1    tesla  orange
2    prade    blue
3     benz     red

In [25]:
my_car["Color"]

0     green
1    orange
2      blue
3       red
Name: Color, dtype: object

In [26]:
my_car.Color

0     green
1    orange
2      blue
3       red
Name: Color, dtype: object

In [28]:
my_car.columns

Index(['Car Name', 'Color'], dtype='object')

In [29]:
my_car.index

RangeIndex(start=0, stop=4, step=1)

In [31]:
my_car.head(2)

  Car Name   Color
0      bmw   green
1    tesla  orange

In [32]:
my_car.tail(2)

  Car Name Color
2    prade  blue
3     benz   red